<!doctype html>
<html>
    <head>
        <title>{% block title %}Home{% endblock %}</title>

        {% block headextra %}{% endblock %}
    </head>

    <body>
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}

    {% include 'menu.html' %}
    <div class="header">{% block navbar %}{% endblock %}</div>
    <p></p>
    <div class="center-block">{% block content %}{% bootstrap_messages %}{% endblock %}</div>
    <p></p>
    <div class="footer"></div>




    </body>
</html>
